/**
 * Locales.
 */
.pt_BR { background-image: url('images/flags/br.png') !important; }
.en { background-image: url('images/flags/us.png') !important; }
.es { background-image: url('images/flags/es.png') !important; }